.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icons {
  line-height: 14px;
  display: inline-flex;
  margin-right: 4px;
  color: #039494;
}

.cvbtn {
  border: none;
  background: none !important;
  margin: 0;
  padding: 0;
}

.cvbtn:hover {
  color: #039494;
}
