$page-green: #039494;

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: $page-green;
  text-decoration: underline;
}

.exlink {
  margin-right: 4px;
  display: inline-flex;
  position: relative;
  top: 1.8px;
}
