@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,300;1,300&display=swap');

$font-orbitron: 'Orbitron', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$page-green: #039494;
$page-light-green: #6fbbbb;
$page-pale-green: #eee;
$page-dark-grey: #666;
$page-yellow: #fc0;
$border-lines: #ddd;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 100% $font-roboto;
  color: $page-dark-grey;
}

h1 {
  font-family: $font-orbitron;
  margin: 1rem 0 0 1rem;
  color: $page-green;
  font-size: 2rem !important;
}
h2 {
  font-family: $font-orbitron;
  // margin: 0 0 0 1rem;
  color: $page-green;
  font-size: 1.4rem !important;
}
p {
  font-size: 0.8rem;
  font-weight: 300;
}

a,
.list-group-item {
  color: inherit;
  text-decoration: none;
  a:hover,
  .list-group-item:hover {
    color: $page-green !important;
  }
}

hr {
  color: $page-green;
}

.carousel-caption h3 {
  font-size: 01rem;
  font-family: $font-orbitron;
  color: $page-green !important;
}

.carousel {
  background-image: linear-gradient($border-lines 1px, transparent 1px),
    linear-gradient(90deg, $border-lines 1px, transparent 1px);
  background-size: 20px 20px;
  border-right: 1px solid $border-lines;
  border-bottom: 1px solid $border-lines;
  margin-bottom: 1.5rem;
}

.carousel-caption {
  h3,
  p {
    color: $page-dark-grey;
  }
}

.carousel-indicators [data-bs-target] {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $page-yellow;
}

.container-md {
  padding: 1.5rem 0;
}

.MuiTableCell-head svg {
  font-size: 1.5em;
  color: $page-light-green;
}

* {
  box-sizing: border-box;
}

.accordion-button:not(.collapsed) {
  background-color: $page-pale-green;
  color: $page-green;
}
